<html>
    <head> <title> analysis page </title>
    <link rel="stylesheet" href="../static/css/h2-2.css">
     <style>
    body {background-image: url('../static/image/Kraken.jpg');
    }
</style>
    </head>
    <body>
    <h1> Analysis page </h1>
    
    <details>
        <summary> <h2> Virustotall </h2> </summary>
        <a href="/pdf/1" target="_blank"> Virustotall Report </a>
    </details>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <details>
        <summary> <h2> AnyRun </h2>  </summary>
        <p> What anyrun Used for ? : It is not enough to run a suspicious file on a testing system to be sure in its safety. For some types of malware or vulnerabilities (e.g., APT), direct human interaction during analysis is required. A set of online malware analysis tools, allows you to watch the research process and make adjustments when needed, just as you would do it on a real system, rather than relying on a wholly automated sandbox.</p>
        <p> The site needs Registration and yeah it is free ! </p>
        <a href="https://app.any.run/" target="_blank"> Registare Here ! </a>
     </details>
     <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
     <details>
        <summary> <h2> PEfile </h2> </summary>
        <a href="/pdf/2" target="_blank"> pefile.pdf </a>
     </details>
     <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
     <details>
        <summary> <h2> Capstone </h2> </summary>
        <a href="/pdf/3" target="_blank"> capstone.pdf </a>
    </details>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <details>
        <summary> <h2> Yara </h2> </summary>
        <a href="/pdf/4" target="_blank"> yara.pdf </a>
    </details>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <details>
        <summary> <h2> Rzpipe </h2> </summary>
        <a href="/pdf/5" target="_blank"> rzpipe.pdf </a>
    </details>
