<html>
<title> Kraken </title>

<head>
<style>
    body {background-image: url('static/image/Kraken.jpg');
}
</style>
<style>
    .Upload {
        background-color: black;
        border: 2px solid black;
        color: red;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 10px 30px;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="static/css/button.css">
<link rel="stylesheet" href="static/css/h2.css">
</head>

<body>
<h2>  Welcome to the Kraken Malware analysis tool ! </h2>
<button class="Upload"
onclick="window.location.href = '/upload'; ">
Upload Page
</button>
</body>

</html>
